{{#partial "content"}}
    {{#if editHero}}
        <h1>Edit your Hero's entries!</h1>
        <form action="/heros/{{editHero.id}}/update" method="post">

            <label for="name">Name</label>
            <input id="name" name="name" type="text" value="{{editHero.name}}">

            <label for="age">Age</label>
            <input id="age" name="age" type="text" value="{{editHero.age}}">

            <label for="specialPowers">Special Powers</label>
            <input id="specialPowers" name="specialPowers" type="text" value="{{editHero.specialPowers}}">

            <label for="weakness">Weakness</label>
            <input id="weakness" name="weakness" type="text" value="{{editHero.weakness}}">

            <button type="submit" class="btn btn-default">Update Hero</button>
        </form>
    {{else}}

            <h1>Post Hero!</h1>

    <p>Add a new Hero:</p>

    <form action="/heros/new" method="POST">
        <label for="name">Name</label>
        <input id="name" name="name" type="text">

        <label for="age">Age</label>
        <input id="age" name="age" type="text">

        <label for="specialPowers">Special Powers</label>
        <input id="specialPowers" name="specialPowers" type="text">

        <label for="weakness">Weakness</label>
        <input id="weakness" name="weakness" type="text">

        <button type="submit" class="btn btn-default">Add Hero</button>
    </form>
            <button><a href="/squad">Click to Add to squad</a> </button>

    <button><a href="/heros/list">Click to view your list of Heroes</a></button>
    {{/if}}
    {{/partial}}

{{> layout.hbs}}
