{{#partial "content"}}







    <h1>Heroes</h1>

{{#if heroes}}
    {{#each heroes}}
   <p> {{name}}</p>
    <p>{{age}}</p>
    <p>{{specialPowers}}</p>
    <p>{{weakness}}</p>
        <p><a href="/heros/{{id}}">Read More...</a> </p>
    {{/each}}
{{else}}
    <p>No Heroes yet!</p>
{{/if}}
{{/partial}}
{{>layout.hbs}}